

numpy==1.26.4
scipy==1.13.0
pandas==2.2.2
scikit-learn==1.4.2
joblib==1.4.2          # optional – sk-learn bringt es eh mit

nltk==3.8.1            # nur falls du im Skript stemmst/stopwords nutzt
jupyterlab==4.2.0
matplotlib==3.9.2
seaborn==0.12.2